# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [6]:
# 設定 data_path, 並讀取 app_train
dir_data = 'data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_train
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [7]:
app_train['WEEKDAY_APPR_PROCESS_START']

0        WEDNESDAY
1           MONDAY
2           MONDAY
3        WEDNESDAY
4         THURSDAY
           ...
15518       FRIDAY
15519     THURSDAY
15520     SATURDAY
15521       FRIDAY
15522          NaN
Name: WEEKDAY_APPR_PROCESS_START, Length: 15523, dtype: object

In [8]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(15523, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [9]:
"""
Your Code Here
"""
sub_train_dummies = pd.get_dummies(sub_train)
print(sub_train_dummies.shape)
sub_train_dummies.head()

(15523, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0